@charset "UTF-8";

/* 共通部分
-------------------------------------------------*/
html {
    font-size: 100%;
}
body {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    line-height: 1.7em;
    color: #333333;
}
a {
    text-decoration: none;
    color: #333333;
}
img {
    max-width: 100%;
    max-height: 100%;

}
.wrapper {
    margin: 0 7vw 0;
}

/* ヘッダー
-------------------------------------------------*/
header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 7vw 0;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 1em;
}
h1 {
    font-size: 1.2em;
}
.hamburger {
    display: none;
}
.under_line {
    position: relative;
}
.under_line::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0%;
    /*線の形状*/
    width: 100%;
    height: 2px;
    background:#f7c800;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}
.under_line:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}


/* fv
-------------------------------------------------*/
.fv {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bg_l2.jpg) no-repeat, url(../img/bg_r2.jpg) no-repeat;
    background-position: left bottom, right bottom;
    margin: 0 7vw 200px;
}

/* WORKS
-------------------------------------------------*/
.sec_content {
    margin-bottom: 300px;
    opacity : 0;
	visibility: hidden;
	transition: 1.2s;
	transform: translateY(50px);
}
.active{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.sec_title {
    font-size: 2.25em;
    text-shadow: 5px 6px 0 #f7c800;
    margin-bottom: 60px;
}
.sec_title::before {
    content: url(../img/te_icon.jpg);
    position: relative;
    top: 20px;
    margin-right: 10px;
}
.work_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 100px 50px;
}
.card_thumb {
    height: 200px;
    margin-bottom: 20px;
    position: relative;
}
.card_thumb img {
    box-shadow: 5px 6px 0 #cccccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.tunmb_web {
    border-radius: 10px;
    border: 1px solid #cccccc;
}
.card_category {
    font-size: 0.9em;
    margin-bottom: 5px;
}
.cat_cording {
    display: inline;
    padding: 5px 10px;
    background: #F7C800;
    border-radius: 10px;
}
.cat_design {
    display: inline;
    padding: 5px 10px;
    background: #FF4F6C;
    border-radius: 10px;
}

/* ABOUT
-------------------------------------------------*/
.about_subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}
.about_subtext p {
    font-size: 1.5em;
    line-height: 1.7em;
    margin-bottom: 60px;
}
.about_grid {
    display: flex;
    justify-content: space-between;
}

/* CONTACT
-------------------------------------------------*/
#contact {
    text-align: center;
}
.nohand_title {
    font-size: 2.25em;
    text-shadow: 5px 6px 0 #f7c800;
    margin-bottom: 100px;
}
.link_btn {
    position: relative;
    display: inline-block;
    text-align: center;
    background: transparent;
    border-radius: 10px;
    transition: all 0.2s ease;
}
.link_btn span {
    position: relative;
    display: block;
	z-index: 2;
    background: #F7C800;
    padding: 40px 60px;
    font-size: 1.5em;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.push_right::before {
    content: "";
    /*絶対配置で影の位置を決める*/
    position: absolute;
	z-index: -1;
    top: 7px;
    left: 7px;
    /*影の形状*/
    width: 100%;
    height: 100%;
	border-radius: 10px;
    background-color: #ccc;
}
.push_right:hover span {
	transform: translate(4px, 4px);
}
.contact_text {
    margin-top: 70px;
}

/* footer
-------------------------------------------------*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #F7C800;
    padding: 10px 7vw;
}

/* ABOUT個別ページ
-------------------------------------------------*/
.about_wrapper {
    margin-top: 150px;
}
.about_wrapper .nohand_title {
    margin: 0 auto 100px;
    text-align: center;
}
.about_wrapper .sec_content {
    margin-bottom: 200px;
}
.prof_area {
    position: relative;
    min-height: 700px;
}
.prof_img {
    position: absolute;
    left: 10%;
}
.prof_box {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prof_l img {
    box-shadow: 5px 6px 0 #cccccc;
    border-radius: 10px;
}
.prof_name {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.prof_text, .prof_reki {
    font-size: 0.9em;
    margin-bottom: 20px;
}
.prof_reki {
    list-style-type: none;
    padding-left: 0;
}
.prof_reki li {
    padding: 0 0 0 2.5em;
    text-indent: -2.5em;
}
.box_content {
    position: absolute;
    top: 30%;
    left: 40%;
    margin: 0 auto 40px;
    border: 1px solid #cccccc;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 5px 6px 0 #cccccc;
    background-color: #ffffff;
}
.twi_area {
    display: flex;
    color: #00A297;
    font-size: 0.9em;
}
.twi_area a {
    margin-right: 10px;
}
.follow_me {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill_card {
    display: flex;
    justify-content: center;
    max-height: 400px;
    max-width: 1100px;
    margin: 0 auto 200px;
    border: 1px solid #cccccc;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 5px 6px 0 #cccccc;
}
.point_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 90%;
    margin: 0 auto 100px;
}
.point_area:nth-child(2) {
    flex-direction: row-reverse;
}
.point_image_area {
    width: 50%;
    margin: 0 10px;
}
.point_image_area img {
    box-shadow: 5px 6px 0 #cccccc;
    border-radius: 10px;  
}
.point_text_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    line-height: 2.5em;
    margin: 0 30px;
}
.point_title {
    margin-bottom: 30px;
    font-size: 2em;
}
.point_area_mental {
    text-align: center;
    line-height: 2.5em;
    max-width: 80%;
    margin: 0 auto;
}
.point_area_mental .point_image_area {
    text-align: center;
    width: 80%;
    margin: 0 auto 30px;
}

/* Works個別ページ
-------------------------------------------------*/
.work_wrapper {
    margin: 60px 0 10vh;
    display: flex;
    justify-content: space-between;
}
.work_sec_aside {
    display: flex;
    justify-content: space-between;
    flex: 2;
}
.work_main {
    flex: 1;
}
.work_sec_imgarea {
    margin-left: 50px;
    flex: 1;
}
.work_title {
    font-size: 1.5em;
    margin: 60px 0 60px;
}
.work_section {
    margin-bottom: 50px;
}
.work_section h2 {
    font-size: 1.25em;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 2px solid #F7C800;
}
.work_sec_text {
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
}
.work_sec_img {
    margin: 60px auto 100px;
    opacity: 0;
    transition: .7s;
}
.work_sec_img.showup {
    opacity: 1;
    margin-top: 0;
}
.work_section ol {
    padding-left: 2em;
    margin-bottom: 10px;
    border-left: 2px solid #ccc;
}
.work_section li {
    margin-bottom: 10px;
}
.mobile_img {
    width: 50%;
}
.web_img {
    border: solid 1px #ccc;
}
.a_under {
    text-decoration: underline;
    color: #f7c800;
}

/* ローディング
-------------------------------------------------*/
#splash {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background:#fff;
    text-align:center;
    color:#ccc;
}
    
/* Loading画像中央配置　*/
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* fadeUpをするアイコンの動き */
.fadeUp{
    animation-name: fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }


/* タブレット版
-------------------------------------------------*/
@media (max-width: 1000px){
    /* index
    -------------------------------------------------*/
    .fv {
        background: url(../img/bg_l2.jpg) no-repeat;
        background-position: center bottom;
        margin: 0 0 200px;
    }
    .work_grid {
        grid-template-columns: 1fr 1fr;
    }
    .about_grid {
        display: flex;
        flex-wrap: wrap;
    }
    .about_subtext {
        margin: 60px 0;
    }
    .prof_box {
        width: 50%;
    }
    .prof_box:last-child {
        width: 100%;
        justify-content: flex-end;
    }
    .twi_area {
        justify-content: center;
        margin-top: 20px;
    }

    /* ABOUT個別ページ
    -------------------------------------------------*/
    .prof_area {
        position: static;
    }    
    .prof_img {
        position: static;
        text-align: center;
        margin: 0 auto 30px;
    }
    .box_content {
        position: static;
    }
    .point_area {
        display: block;
    }
    .point_image_area {
        width: 100%;
        margin: 30px 0 0;
    }
    .point_text_area {
        width: 100%;
        line-height: 2em;
        margin: 0;
    }
    .point_area_mental {
        text-align: left;
        line-height: 2em;
        max-width: 100%;
    }
    .point_area_mental .point_image_area {
        width: 100%;
    }


    /* Works個別ページ
    -------------------------------------------------*/
    .work_wrapper {
        flex-direction: column-reverse; 
    }
    .work_sec_aside {
        flex-direction: column;
    }
    .work_sec_imgarea {
        margin-left: 0;
    }
    .work_sec_img {
        max-width: 100%;
        margin: 0px auto 50px;
    }
}

/* モバイル版
-------------------------------------------------*/
@media (max-width: 760px){

    /* index
    -------------------------------------------------*/
    .work_grid {
        display: block;
    }
    .work_card {
        margin-bottom: 60px;
    }

    .about_subtext {
        font-size: 1.2em;
        line-height: 1.7em;
        margin: 60px 0;
    }
    .about_grid {
        display: block;
    }
    .prof_box {
        padding: 0;
        margin: 0 auto 20px;
        width: 100%;
    }
    .prof_reki {
        margin-bottom: 10px;
    }
    .prof_box:last-child {
        justify-content: center;
    }
    .skill_card {
        display: block;
        max-height: max-content;
        max-width: 100%;
        padding: 20px 10px 20px;
    }
    .skill_box {
        margin-bottom: 20px;
    }
    .card_category,
    .card_title {
        text-align: center;
    }
    .link_btn span {
        padding: 20px 30px;
        font-size: 1.2em;
    }
    footer {
        display: block;
        background: #F7C800;
        padding: 10px 7vw;
    }
    .footer_menu {
        margin-bottom: 10px;
    }
    .footer_ul {
        display: block;
        text-indent: -1em;
    }

    /* hamburger
    -------------------------------------------------*/
    .header_nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .nav_toggle {
        display: block;
        position: relative;
        width: 1.75rem;
        height: 1.5rem;
    }
    .nav_toggle i {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        transition: transform .5s, opacity .5s;
    }
    .nav_toggle i:nth-child(1) {
        top: 0;
    }
    .nav_toggle i:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .nav_toggle i:nth-child(3) {
        bottom: 0;
    }
    .nav_toggle.show i:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }
    .nav_toggle.show i:nth-child(2) {
        opacity: 0;
    }
    .nav_toggle.show i:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
    }
    .nav_toggle.show {
        z-index: 10002;
    }
    .hamburger_nav {
        position: fixed;
        top: 3rem;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;
    }
    .hamburger_nav.show {
        opacity: 1;
        visibility: visible;
        z-index: 10001;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamburger_ul {
        flex-direction: column;
        text-align: center;
    }
    .hamburger_ul li {
        margin-bottom: 3vh;
    }
    body.show {
        overflow: hidden;
    }
    .hamburger_bg.show {
        background: #ffffff;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10000;
    }
      
}
